/* frontend/src/app/home/pages/[username]/reservas/index.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #f9f9f9; /* Fundo claro */
  padding: 2rem;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.backButton {
  text-decoration: none;
  color: #ff5a5f; /* Cor laranja vibrante */
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333; /* Cor do título mais suave */
}

.listContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* Espaçamento entre os elementos */
}

.placeholder {
  font-size: 1.25rem;
  font-style: italic;
  color: #777; /* Cor mais suave para o texto de placeholder */
  text-align: center;
}