/* src/app/home/pages/Home/index.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5; /* Fundo claro para o restante da página */
  }
  
  .logo {
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333; /* Cor do título mais suave */
  }
  
  .description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #666; /* Cor de texto secundária */
  }
  
  .backgroundStrip {
    position: relative;
    width: 100%;
    height: 200px; /* Altura da faixa */
    overflow: hidden;
  }
  
  .stripSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .stripText {
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: bold;
    color: white; /* Texto branco para contraste */
    text-align: center;
    padding-top: 30px; /* Ajuste para centralizar o texto */
  }
  
  .buttonsContainer {
    display: flex;
    gap: 16px; /* Espaçamento entre os botões */
    margin-top: 2rem;
  }
  
  .button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; /* Remove sublinhado dos links */
    color: white; /* Cor do texto nos botões */
    background-color: #ff5a5f; /* Cor laranja vibrante */
  }
  
  .button:hover {
    opacity: 0.9;
  }

  .input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 60%;
    margin-right: 1rem; /* Espaçamento entre o rótulo e o seguinte checkbox */
  }


.checkbox {
  margin-right: 0.2rem; /* Espaçamento entre o checkbox e o rótulo */
}

.checkboxLabel {
  font-size: 1rem;
  color: #333; /* Cor do texto do rótulo */
  margin-right: 1rem; /* Espaçamento entre o rótulo e o seguinte checkbox */
}

.select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: 0.2rem; /* Espaçamento acima do select */
  width: 50%; /* Faz o select ocupar toda a largura disponível */
  margin-right: 1rem; /* Espaçamento entre o rótulo e o seguinte checkbox */
}

.wideButton {
  width: 100%;
  max-width: 600px;
  margin-top: 0rem;
  margin-bottom: 3rem;
}