/* frontend/src/app/home/pages/[username]/index.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5; /* Fundo claro para o restante da página */
  padding: 2rem;
}

.contentContainer {
  background-color: #ffffff; /* Fundo branco para o contêiner */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para o contêiner */
  max-width: 800px;
  width: 100%;
  text-align: center;
}

.logo {
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333; /* Cor do título mais suave */
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #666; /* Cor de texto secundária */
}

.backgroundStrip {
  position: relative;
  width: 100%;
  height: 200px; /* Altura da faixa */
  overflow: hidden;
}

.stripSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.stripText {
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: bold;
  color: white; /* Texto branco para contraste */
  text-align: center;
  padding-top: 30px; /* Ajuste para centralizar o texto */
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; /* Espaçamento entre os botões */
  margin-top: 2rem;
}

.button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* Remove sublinhado dos links */
  color: white; /* Cor do texto nos botões */
  background-color: #ff5a5f; /* Cor laranja vibrante */
}

.button:hover {
  opacity: 0.9;
}

.logoutButton {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* Remove sublinhado dos links */
  color: white; /* Cor do texto nos botões */
  background-color: #c62828; /* Cor vermelha para destacar o botão de sair */
}

.logoutButton:hover {
  opacity: 0.9;
}